@media all and (orientation : portrait) {
/*竖屏*/

}

@media all and (orientation : landscape) {
/*横屏*/

}

.answer {
	font-family: Times New Roman,sans-serif;
	margin-top: 200px;
	font-weight: bold;
	font-size: 120pt;
	text-align: center;

	cursor: default;
}

.bigday {
	flex: 1 0 auto;
	color: crimson;
	font-family: Cambria,sans-serif;
	font-size: 100px;
	text-align: center;
}

.nottoday {
	flex: 1 0 auto;
	color: darkblue;
	font-family: Cambria,sans-serif;
	font-size: 120px;
	text-align: center;
}

a {
	color: navajowhite;
	text-decoration:none;
}

a:hover {
	color: orange;
}

.home {
	flex: 1 0 auto;
}

.site-footer{
	flex: 0 0 auto;
    text-align:center
}

#container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#err {
	color: red;
}

#rf {
  margin: 20px 0;
}

#rf label {
  display: block;
}

#rf input {
  width: 150px;
  height: 20px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 430px;
}