---
layout: default
---
<div class="home" id='hm'>

</div>

<script type="text/javascript">
	let date = new Date()
	let month = date.getMonth()+1
	let day = date.getDate()
	if (month===11 && day===30) {
		document.getElementById('hm').innerHTML = `
			<a href="{{site.baseurl}}/assets/public/bigday.html" class="answer">
				<h1>YES</h1>
			</a>
		`
			
		
	} else {
		document.getElementById('hm').innerHTML = `
			<a href="{{site.baseurl}}/assets/public/nottoday.html" class="answer">
			<h1>NO</h1>
			</a>
		`
	}
</script>
